*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
    background-color: pink;
    /* height: 100vh; */
    width: 100vw;
}

.reset_inline   {
    display: inline;
}

.reset_block    {
    display: block ;
}

.button {
    background-color: grey;
    color: white;
    padding: 0.25rem;
    border-radius: 5px;

    text-align: center;;
}

img {
   width: 100%;
}


/* Header */


.top_button_container   {
    background-color: black;
    padding: 0.5rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.speaker_btn    {
    margin-right: 0.5rem;
}

.fa-table-cells   {
    padding-right: 0.5rem;
    font-size: 1em;
}

.fa-maximize    {
    font-size: 1em;
}

/* Main */

main    {
    margin-left: 5%;
    margin-right: 5%;
}

.main_container {
    margin-top: 5%;
    margin-bottom: 5%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 0.5rem;
    
    overflow-y: auto;
}

.img_container  {
    position: relative;

    flex-basis: calc(100% / 7 - (3rem / 7));

    /* flex-basis: calc(100% / 7 - (3rem / 7)); */

    /* flex-grow: 1;
    flex-shrink: 1; */
}

.img_container img {
    display: block;
    position: relative;
}

.user   {
    background-color: black;
    color: white;
    opacity: 70%;
    padding: 1rem;

    position: absolute;
    left: 0rem;
    bottom: 0rem;
}

/* Footer */

.bottom_button_container {
    background-color: black;
    color: white;
    padding: 0.5rem;

    display: flex;
    justify-content: space-between;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.left_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mic_container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mic_container i {
    font-size: 2rem;
}

.video_container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video_container i {
    font-size: 2rem;
}

.arrow_1  {
    margin-left: 1rem;
    display: flex;
    align-items: center;
}

/* Center */

.center_btn_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 1rem;
}

.btn_container  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn_container i    {
    font-size: 2rem;
}

.arrow_2  {
    display: flex;
    align-items: center;
}

/* Right */

/* .right_btn_container    {
    display: flex;
}    */

.prova  {
    background-color: red;
    padding: 1rem;
}